<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prime talk - Converse com seus amigos</title>
	<link rel="stylesheet" href="global.css">
	<link rel="stylesheet" href="index/style.css">
</head>
<body>
    <header>
		<div class="container">
            <div class="logo">
			    <h1>PRIME TALK</h1>
			</div>
			<div class="buttons">
                <a href="/register"><button>Cadastre-se</button></a>
			    <a href="/login"><button>Login</button></a>
			</div>
			<div class="menu">
			    <div class="line1"></div>
			    <div class="line2"></div>
			    <div class="line3"></div>
			</div>
		</div>
	</header>
	<section class="menu-content">
		<div class="container">
		    <a href="/register"><button>Cadastre-se</button></a>
		    <a href="/login"><button>Login</button></a>
		</div>
	</section>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="index/script.js"></script>
</body>
</html>